<div class="hero">
  <h1 class="title">About Me</h1>
  <h2 class="subtitle">Who am I?</h2>
  <p class="subtitle"> My name is Jose Ignacio Costa and I'm studying Industrial Civil Engineering in UANDES since 2021. </p>
  <p class="subtitle"> I like to work in computers, listen to music, play videogames and guitar</p>
</div>