<footer class="bg-dark text-light py-1 fixed-bottom">
  <div class="container text-center">
    <p class="small">© 2024 Jose Ignacio Costa. All rights reserved.</p>
    <a href="" class="small">Social media links (not working)</a>
  </div>
</footer>